<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>TechShop</title>
        <meta charset="UTF-8"/>
    </head>
    <body>
        <header th:replace="~{layout/plantilla :: header}"/>
        <section>
            <h2>Datos de Categorías</h2>
            <hr>
            <a th:href="@{/}">Regresar</a>
            <form th:action="@{/categoria/guardar}" th:object="${categoria}" method="POST">
                <input type="hidden" name="idCategoria" th:field="*{idCategoria}"/>
                <label>Descripcion</label>
                <input type="text" name="descripcion" 
                       th:field="*{descripcion}" size="20" />
                <br>            
                <label>Activo</label>
                <input type="text" name="activo" 
                       th:field="*{activo}" size="40" />
                <br>      
                <input type="submit" value="Guardar" />
            </form>
        </section>
        <footer th:replace="~{layout/plantilla :: footer}"/>
    </body>
</html>